<div class="container">
  <div class="row">
      <div class="notice">
        <%= notice %>
      </div>
    <%= form_for @file, multipart: true do |f| %>
    <% if @file.errors.any? %>
      <% @file.errors.full_messages.each do |message| %>
        <div class="message">
          <li><%= message %></li>
        </div>
      <% end %>
      <%end%>
      <%= f.label :file %>
      <%= f.file_field :file %>
      <%= f.submit "Enviar" %>
    <% end %>

    <%= link_to "Transações da conta", transactions_path%>
  </div>
</div>