<p>Lista de operações</p>

<p><%= link_to "Adicione um arquivo clicando aqui!", new_file_upload_path %></p>

<% if @transactions.present? %>
  <table>
    <tr>
      <th>Purchaser Name</th>
      <th>Purchaser Count</th>
      <th>Merchant name</th>
      <th>Merchant address</th>
      <th>Item Description</th>
      <th>Item Price</th>
    </tr>
      <% @transactions.each do |t| %>
        <tr>
          <td><%= t.purchaser_name %></td>
          <td><%= t.purchase_count %></td>
          <td><%= t.merchant_name %></td>
          <td><%= t.merchant_address %></td>
          <td><%= t.item_description %></td>
          <td><%= t.item_price %></td>
        </tr>
      <%end%>
  </table>
  <p>Valor total disponível: <%= @sum_values %></p>
  <%= will_paginate @transactions %>
<%else%>
  <span>Não há transações registradas para este usuário. Atualize a página!</span>
<%end%>


